In [1]:
import pyodbc
import pandas as pd
import datetime

cnxn_str=("Driver={ODBC Driver 17 for SQL Server};"
          "Server=localhost;"
          "Database=UniversityLibrary;"            #databasebeta3naaa
          "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)

In [2]:
# E3mel el cursor
cursor = cnxn.cursor()

# 2 INSERT FUNCTIONS
def insertStudent(cursor, student_id, password, username, email, country, city, street):
    cursor.execute(
        "INSERT INTO Student (Student_ID, Password, Username, Email, Country, City, Street) VALUES (?, ?, ?, ?, ?, ?, ?)",
        (student_id, password, username, email, country, city, street)
    )

def insertBook(cursor, isbn, publish_year, description, pages, title):
    cursor.execute(
        "INSERT INTO Book (ISBN, PublishYear, Description, Pages, Title) VALUES (?, ?, ?, ?, ?)",
        (isbn, publish_year, description, pages, title)
    )

# GARAB BA
insertStudent(cursor, 3, '123', 'Jana', 'Jana@gmail.com', 'EGYPT', 'Cairo', '123 STREET')
insertBook(cursor, 9789876543210, '2003-11-07', 'BOOK DESCRIPTION', 200, 'BOOK TITLE')

In [3]:
def getAllStudents(cursor):
    cursor.execute("SELECT * FROM Student")
    students = cursor.fetchall()
    print("Students:")
    for student in students:
        print(student)


def getAllBooks(cursor):
    cursor.execute("SELECT * FROM Book")
    books = cursor.fetchall()
    print("Books:")
    for book in books:
        print(book)



# DISPLAY
getAllStudents(cursor)
getAllBooks(cursor)

# ZEE3 W E2FEL
cnxn.commit()
cnxn.close()

Students:
(1, 'studentpass', 'student1', 'student1@example.com', 'EGYPT', 'Giza', '456 Street')
(3, '123', 'Jana', 'Jana@gmail.com', 'EGYPT', 'Cairo', '123 STREET')
Books:
(1234567890, datetime.date(2024, 1, 1), 'Book Description', 300, 'Book Title')
(9789876543210, datetime.date(2003, 11, 7), 'BOOK DESCRIPTION', 200, 'BOOK TITLE')